$black: #000;
$white: #ffffff;
$error: #f00;

$gray120: #1A1B1D;
$gray110: #181819;
$gray100: #3C3C40;
$gray95: #37383A;
$gray80: #6C6C73;
$gray60: #969699;
$gray40: #AAAAAD;
$gray10: #DEDEE0;
$gray08: #f7f7f7;
$gray05: #F5F5F5;

$primary: #EE4266;
$primaryLight: #F25C7B;
$primaryLighter: #F78199;

// primary color shades
$primaryGRD: linear-gradient(170.88deg, #EE4266 8.65%, #FA5E7E 130.52%);
$secondaryGRD: linear-gradient(170.88deg, #5B87E0 8.65%, #215DD5 130.52%);

$secondary: #215DD5;
$blueLight: #7595D5;
$blueArrow: #5B87E0;

$success: #83CF59;

//font variables
$base-font: 'Source Sans Pro';
$heading-font: 'Avenir Next';